# User data and game state
/user

# Objects and products
*.pyc

# Build system
/config.dat
/config.log
/lib

# Build system, GNUMake
/Makefile
/Legend_of_Feleria*
/build

# Build system, Xcode
/*.xcodeproj

# Build system, Visual Studio
/Debug
/Release
/x64
/*.sln
/*.sdf
/*.suo
/*.opensdf
/*.vcxproj*
/ipch
